TZ=America/Sao_Paulo

NODE_RED_CONTAINER_NAME=noderedsqlserver1
NODE_RED_IMAGE=nodered/node-red:4.1.4-22
NODE_RED_HOST_PORT=1880
NODE_RED_ADMIN_USERNAME=admin
NODE_RED_ADMIN_PASSWORD=0102030405!
NODE_RED_CREDENTIAL_SECRET=set-your-own-secret
NODE_RED_EXTRA_MODULES=https://btcc.s3.dualstack.eu-west-1.amazonaws.com/widget-lab/npm/node-red-contrib-3dxinterfaces/dist/widget-lab-node-red-contrib-3dxinterfaces-6.5.3.tgz,node-red-contrib-mssql-plus,node-red-contrib-xlsx-to-json,node-red-contrib-minio-all

SQLSERVER_CONTAINER_NAME=sqlserver1
SQLSERVER_IMAGE=mcr.microsoft.com/mssql/server:2022-latest
SQLSERVER_PLATFORM=linux/amd64
SQLSERVER_SA_USERNAME=sa
SQLSERVER_SA_PASSWORD=change-me
SQLSERVER_EDITION=Developer
SQLSERVER_RESTORE_ENABLED=true

WEBDB_CONTAINER_NAME=webdb1
WEBDB_IMAGE=webdb/app:latest
WEBDB_HOST_PORT=22071
