TZ=America/Sao_Paulo

NODE_RED_CONTAINER_NAME=noderedsqlserver1
NODE_RED_IMAGE=nodered/node-red:4.1.4-22
NODE_RED_HOST_PORT=1880

SQLSERVER_CONTAINER_NAME=sqlserver1
SQLSERVER_IMAGE=mcr.microsoft.com/mssql/server:2022-latest
SQLSERVER_PLATFORM=linux/amd64
SQLSERVER_SA_USERNAME=sa
SQLSERVER_SA_PASSWORD=change-me
SQLSERVER_EDITION=Developer
SQLSERVER_RESTORE_ENABLED=true

DBGATE_CONTAINER_NAME=dbgate1
DBGATE_IMAGE=dbgate/dbgate:latest
DBGATE_HOST_PORT=3000

MSSQL_MCP_CONTAINER_NAME=mssqlmcp1
MSSQL_MCP_IMAGE=mcprunner/mssqlmcp:1.0.9.5
MSSQL_MCP_HOST_PORT=3001
MSSQL_MCP_KEY=change-this-encryption-key
MSSQL_MCP_API_KEY=change-this-api-key
